<!-- contiene el nav igm y el filtro  -->

<main class="main">

    <header class="brand-home">
     <a routerLink="/">
      <img class="bran-logo" src="../assets/img/Home.png" alt="">
    </a>    

    <section>
      <form>
        <input type="text" placeholder="Filter by city" />
        <button class="primary" type="button">Search</button>
      </form>
    </section>
  </header>


  <section class="content">

    <!-- Contenido de la pagina, homeComponet -->
    <router-outlet/>
  </section>

</main>